*{
  margin: 0;padding:0; 
}

*{
  box-sizing: border-box;
}

.token.selector{
  color: black;
}
.token.property{
  color: black;
}
.token.function{
  color: black;
}

#code{
  height: 100vh;
  /* 让code沾满整个页面 */
  /*结果他就overflow了，所以加个滚动条*/
  /*滚动条很丑所以就隐藏滚动条*/
  overflow: hidden;
}

 /* #code{
        position: fixed;
        width: 50%;
        left: 0;
        height: 100%;
    } */

#paper{
    position: fixed;
    width: 50%;
    right: 0;
    height: 100%;
    background:#444;
    padding: 16px;
    /* 为了让content自动居中 */
    display: flex;
    justify-content: center;
    align-items: center
}

#paper >.content{
    width: 100%;
    height: 100%;
    overflow:hidden;
    padding-left:16px;
    background: white;
    display: none;
}

#paper>.html{
  background: white;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: auto;
}

@keyframes breath{
  0%{
    box-shadow: 0 0 10px rgba(0,0,0,1)
  }
  100%{
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
  }
}